body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Tomatoes';  /* 任意の名前を付ける */
  src: url('./assets/fonts/Tomatoes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* ここに追加 */
.handwritten {
  font-family: 'Tomatoes', cursive;
}
